<!-- wp:template-part {"slug":"header","theme":"packers-logistic","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"collection-in-box owl-carousel","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"backgroundColor":"accent","layout":{"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group collection-in-box owl-carousel has-accent-background-color has-background" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:pattern {"slug":"packers-logistic/banner"} /--></main>
<!-- /wp:group -->
<!-- wp:pattern {"slug":"packers-logistic/project-section"} /-->
<!-- wp:pattern {"slug":"packers-logistic/testimonials-section"} /-->
<!-- wp:pattern {"slug":"packers-logistic/faq-section"} /-->
<!-- wp:pattern {"slug":"packers-logistic/news-section"} /-->

<!-- wp:template-part {"slug":"footer","theme":"packers-logistic","tagName":"footer"} /-->